<!DOCTYPE html>
<html>
<head>
  <title>MoneyGoRound</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to  "Login in Kiva", '/auth/kiva' %> 
<%= yield %>

</body>
</html>
